@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Neue Machina;
  font-style: normal;
  src:
    url("/fonts/neue-machina-regular.ttf") format("ttf"),
    url("/fonts/neue-machina-regular.otf") format("opentype"),
    url("/fonts/neue-machina-regular.woff2") format("woff2");
}

@font-face {
  font-family: Space Grotesk;
  font-style: normal;
  src:
    url("/fonts/space-grotesk-regular.ttf") format("ttf"),
    url("/fonts/space-grotesk-regular.otf") format("opentype"),
    url("/fonts/space-grotesk-regular.woff2") format("woff2");
}

@layer base {
  html {
    @apply bg-darker font-space;
  }

  body {
    @apply min-h-screen flex flex-col items-center;
  }
}

#root {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

#home-page {
  flex-grow: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131313 100%);

  &::before {
    @apply absolute content-[''] top-0 left-0 right-0 bottom-0;
    border-bottom: 1px solid #2f2c27;
    border-right: 1px solid #2f2c27;
    background-image: url("/bg-cell.svg");
    background-repeat: repeat;
    z-index: -1;
  }
}
